<mat-toolbar>
  <span>ReceiptFetcher</span>
  <span style="flex: 1 1 auto"></span>
  <button
    mat-icon-button
    aria-label="Run all fetchers"
    (click)="runAllFetchers()"
  >
    <mat-icon>start</mat-icon>
  </button>
  <button mat-icon-button aria-label="Configuration" (click)="openOptions()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div class="content">
  <mat-accordion>
    <ng-container *ngFor="let fetcher of fetchers">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ fetcher.serviceName }}
          </mat-panel-title>
          <mat-panel-description>
            {{ fetcher.billingItems.length }} 件
          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngIf="fetcher.billingItems.length === 0">
          <button
            mat-stroked-button
            color="primary"
            (click)="getBillingList(fetcher.key)"
            style="float: right"
          >
            取得
          </button>
        </ng-container>

        <ng-container *ngIf="fetcher.billingItems.length !== 0">
          <mat-list>
            <mat-list-item *ngFor="let billingItem of fetcher.billingItems">
              <mat-icon mat-list-icon>receipt_long</mat-icon>
              <div mat-line>
                {{ billingItem.summaryText }}
                &nbsp;&nbsp;
                <small
                  style="color: #555; font-size: 0.8rem; font-style: italic"
                  >{{ billingItem.id }}</small
                >
              </div>
              <div mat-line>
                {{
                  billingItem.totalPrice
                    | currency: billingItem.priceCurrency || "JPY"
                }}
              </div>

              <button
                mat-stroked-button
                [color]="billingItem.hasSavedImage ? null : 'primary'"
                (click)="saveBillingEvidence(fetcher.key, billingItem)"
              >
                証憑保存
                <ng-container *ngIf="billingItem.hasSavedImage">
                  (再)
                </ng-container>
              </button>

            </mat-list-item>
          </mat-list>
        </ng-container>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
